<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách sinh viên</title>
</head>
<body>
    <h1>Danh sách sinh viên</h1>
    <table>
        <thead>
            <tr>
                <th>Mã sinh viên</th>
                <th>Tên sinh viên</th>
                <th>Địa chỉ email</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="student : ${studentsList}">
                <td th:text="${student.ma_hoc_sinh}"></td>
                <td th:text="${student.ho_ten}"></td>
                <td th:text="${student.email}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
